<% MODELS = ['family', 'interaction', 'patient', 'position', 'preference', 'staff', 'user', 'volunteer'] %>
<h1>Implemented features:</h1>

<ul>
  <% MODELS.each do |model| %>
    <a href="/model_features/<%= model %>">
      <li><%= model.camelize %></li>
    </a>
  <% end %>
</ul>