<form action="/volunteer_patient_page/search/:family_code" method="post">
  <label>Enter your family code:</label>
  <input type=text name="family_code" placeholder="Numerical Code" />
  <input type=submit name="Submit" />
</form>