  <head>
  </head>

  <body>
    <section class= "navs">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/">
                  <span><i class="fa fa-stethoscope"></i></span>
                  Mediliza
                </a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/volunteer_home_page">Volunteers</a></li>
                <li><a href="/enduser">Nurses</a></li>
                <li><a href="/search/?">Family</a></li>
                <li><a href="/team">Team</a></li>
                <% if session[:vid] || session[:sid] %>
                  <li><a href="/logout">Logout</a></li>
                <% end %>
              </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </section>

    <section class="blog-title text-center">
      <div class="blog-wrapper" style="height: 220px;">
        <div class="container">
          <div class= "row">  
            <h2 class="headline" style="padding-top: 100px;">Meet Our Team</h2>
          </div>
        </div>
      </div>
    </section>


              
    <section class= "doctor-list">
      <div class= "container">
        <div class= "row">
          <div class= "col-lg-4 col-sm-6 col-xs-12">
            <div style="height: 375px;" class= "doctor-meta">
              <div class= "doctor-img">
                <img class= "img-responsive center-block" src="assets/img/ea.jpg" alt="">
              </div>
              <div class= "doctor-info">

                <div class= "row">
                  <div class= "doctor-name text-center">
                    Ebonku Abaku
                  </div>
                </div>

                <div class= "row">
                  <div class= "position text-center">
                    Front-End Developer
                  </div>
                </div>

                <div class= "row">
                  <div class= "doctor-des text-center">
                    <p style="height: 100px;">
                      Ebonku Abaku, is an avid reader and technology enthusiast that loves soccer and learning new ideas
                    </p>
                  </div>
                </div>

                <div class= "row">
                  <div class="doctor-social text-center">
                    <ul class="contact">
                      <li class="online-contact">
                        <a href="https://ca.linkedin.com/in/ebonkuabaku" data-toggle="tooltip" title="Share in LinkedIn"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class= "col-lg-4 col-sm-6 col-xs-12">
            <div style="height: 375px;" class= "doctor-meta">
              <div class= "doctor-img">
                <img class= "img-responsive center-block" src="assets/img/cj.jpg" alt="">
              </div>
              <div class= "doctor-info">
                <div class= "row">
                  <div class= "doctor-name text-center">
                    Chris Jackson
                  </div>
                </div>
                <div class= "row">
                  <div class= "position text-center">
                    Front-End Developer
                  </div>
                </div>
                <div class= "row">
                  <div class= "doctor-des text-center">
                    <p style="height: 100px;">
                      Chris is noob at this stuff but is picking it up quickly!!
                    </p>
                  </div>
                </div>

                <div class= "row">
                  <div class="doctor-social text-center">
                    <ul class="contact">
                      <li class="online-contact">
                        <a href="https://ca.linkedin.com/in/chris-jackson-03120221" data-toggle="tooltip" title="Share in LinkedIn"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class= "col-lg-4 col-sm-6 col-xs-12">
            <div style="height: 375px;" class= "doctor-meta">
              <div class= "doctor-img">
                <img class= "img-responsive center-block" src="assets/img/ny.jpg" alt="">
              </div>
              <div class= "doctor-info">
                <div class= "row">
                  <div class= "doctor-name text-center">
                    Nick Yee
                  </div>
                </div>
                <div class= "row">
                  <div class= "position text-center">
                    Back-End Developer
                  </div>
                </div>
                <div class= "row">
                  <div class= "doctor-des text-center">
                    <p style="height: 100px;">
                      Passionate about integrating technology with our health care system to better serve our aging population.
                    </p>
                  </div>
                </div>

                <div class= "row">
                  <div class="doctor-social text-center">
                    <ul class="contact">
                      <li class="online-contact">
                        <a href="https://www.linkedin.com/in/njsyee" data-toggle="tooltip" title="Share in LinkedIn"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>    
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     <section id="footer" style="margin-top: 100px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copy-right-text text-center">
              &copy; Theme by <a href="https://themewagon.com/">ThemeWagon</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="assets/js/wow.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>


      <script>
          new WOW().init();
    </script>

  </body>


