<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/season-change.jpg" type="image/x-icon">
    <title>Mediliza Homepage</title>

      <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
      <!-- <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700' rel='stylesheet' type='text/css'> -->
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600' rel='stylesheet' type='text/css'>
      

    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  </head>

  <body>
    <section class= "navs">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#">
                  <span><i class="fa fa-stethoscope"></i></span>
                  Mediliza
                </a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="services.html">Services</a></li>
                  <li class="active"><a href="#">Volunteer</a></li>
              <li><a href="faq.html">FAQs</a></li>
              <li><a href="gallery.html">Gallery</a></li>
              <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </section>

    <section class="blog-title text-center">
      <div class="blog-wrapper"  style =  "height: 220px; "> <!-- height of class wrapper changed to 220px from the deafult -->
        <div class="container">
          <div class= "row">  
            <h4 class="headline", style="font-size: 30px; word-spacing: 5px; margin-top:40px;margin-bottom:10px ">Organizing Volunteers for those most in need </h4>
          </div>
          <div class="row">
            <div class="sub-headline">
              <p style = " text-align: left;">Hi Volunteer, First_name, last_name </p>
            </div>
          </div>  
        </div>
      </div>
    </section>

    <section class= "blog-content">
      <div class= "container">
        <div class= "row">
          <main class="blog1col col-md-9">
             
          </main>


          <!-- <aside class="col-md-3 "> -->
            <div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="edit.html" >Patient Profile</A>

       <!--  <A href="edit.html" >Logout</A> -->
       <br>
        <p class=" text-info">Next available visit time: 01,2016,03:00 pm </p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">IDD</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Unit:</td>
                        <td>Orthopedics</td>
                      </tr>
                      <tr>
                        <td>Likes to be Known as:</td>
                        <td> Bruce Lee</td>
                      </tr>
                      <tr>
                        <td>Language Requirements</td>
                        <td>English</td>
                      </tr>
                   
                        <!--  <tr> -->
                             <tr>
                        <td>Special Needs</td>
                        <td>Not to go outside</td>
                      </tr>
                        <tr>
                        <td></td>
                        <td>Needs to walk at least 20mins</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td> drink minimum of 1 glass of water</td>
                      </tr>
                        <td>Emergency Contact</td>
                        <td>Nurse Judy<br><br>555-4567-890(Landline)
                        </td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                  <a href="#" class="btn btn-primary">Back to list of patients</a>
                 
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message"></a>
                        <span class="pull-right">
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>

            <div class="widget widget_categories" id="categories-3">
            <h4><strong> Observation and comments after patient visit </strong></h4>
                <textarea class="form-control" style = "border: solid blue; width: 500px; padding: 60px"></textarea> 


            </div>

                   <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Did Patient drink water during visit? 
                  </label>
                  </br>
                   <label>
                    <input type="checkbox" value="">
                    was patient able to talk during visit? 
                  </label>
                  </br>
                   <label>
                    <input type="checkbox" value="">
                    Was patient able to walk during visit? 
                  </label>
                </div>
                
                <div>
                  </br>
                  </br> 
                   <a href="#" class="btn btn-primary">Save Comments</a>
                </div>   
             
<!-- 

    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <ul class="text-center contact">
                  <li class= "socials-icons">
                <a href="#" data-toggle="tooltip" title="Share in Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
              </li>
              <li class= "socials-icons">
                <a href="#" data-toggle="tooltip" title="Share in Twitter" class="twitter"><i class="fa fa-twitter"></i></a>
              </li>
              <li class= "socials-icons">
                <a href="#" data-toggle="tooltip" title="Share in Google +" class="google-plus"><i class="fa fa-google-plus"></i></a>
              </li>
              <li class= "socials-icons">
                <a href="#" data-toggle="tooltip" title="Share in Instagram" class="instagram"><i class="fa fa-instagram"></i></a>
              </li>
              <li class= "socials-icons">
                <a href="#" data-toggle="tooltip" title="Share in Pinterest" class="pinterest"><i class="fa fa-pinterest"></i></a>
              </li>
              <li class= "socials-icons">
                <a href="#" data-toggle="tooltip" title="Connect with Skype" class="skype"><i class="fa fa-skype"></i></a>
              </li>
                </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="copy-right-text text-center">
              &copy; Copyright 2014, Your Website Link. Theme by <a href="https://themewagon.com/">ThemeWagon</a>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/wow.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>    



    <script>
          new WOW().init();
    </script>

  </body>
</html>